[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
coinflip = "61LZE86MZSN8vKj9fXStz3LXnFkhkBXy6LNUBaPSAJdi"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "https://rpc.ambient.xyz"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
